body {
  background-image: linear-gradient( #6D6D6D, #EDAF3C);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://bestanimations.com/media/nature/1194501889ocean-sunset-gif.gif#.Yx-x9ovOIIQ.link');
  background-position: 100% -180%;
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}


section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  font-weight: bold;
  font-size: large;
  color: #fff;
  text-shadow: currentColor;
  background-color: transparent;
  border-color: currentColor;
}

.btn.btn-primary:hover {
  color: #888;
  box-shadow: #666;
}

.btn.social {
  position: relative;
  top: 0px;
  left:0px;
}

.btn.social:hover {
  top: -2px;
  left: 3px;
}

footer {
  font-family: 'Times New Roman';
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

#about {
  text-align: center;
  font-family: serif, 'Dedot';
  font-style: bold;
}

#about-txt {
  padding-top: 50px;
  padding-bottom: -20px;
  text-size-adjust: 30px;
  font-family: serif, 'Dedot';
  text-align: center;
}

#travels {
  text-align: center;
}

#profile {
  border-radius: 20%;
  filter: grayscale(25%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 200px;
}


#profile:hover {
  filter:opacity(75%);
  border: 10px;
  border-color: black;
}

#main-title {
  font-size: 2rem; /* Increase the font size */
  font-weight: bold; /* Make the text bold */
  color: rgb(255, 255, 255); /* Change the text color */
  margin: 0; /* Remove any default margin */
}

#return {
  text-decoration: none; /* Remove the underline */
  color: #333; /* Change the link color */
  transition: color 0.3s ease; /* Add a smooth color transition */
}

#return:hover {
  color: rgb(167, 167, 167); /* Change the link color on hover */
}

#proj {
  margin-top: 100px;
}

#proj-text {
  font-family: 'Times New Roman';
}


.proj-image {
  border: 3px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 75%;
  transform: translateY(35px);
}

.proj-image:hover {
  transform: scale(1.2) translateY(20px);
  transition: transform 2.5s ease;
}

.github-btn {
  font-family: Times New Roman;
  font-size: 16px;
  font-weight: 400;
  font-weight: bold;
  color: #fff;
  background-color: #222;
  padding: 7px 12px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  width: 225px;
  transform: translate(0px, -7px)
}

.github-btn:hover .btn-icon svg {
  transition: all 1.5s ease-in-out;
  fill: black;
}

.github-btn:hover {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

.btn-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  transform: translate(0px, -3px)
}

.separator {
  height: 1px;
  background-color: #000;
  margin: 20px 0;
}

.course-box {
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  color: #000000;
}

.course-box:hover {
  text-decoration: none;
}

.btn-download {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.btn-download:hover {
  background-color: #999;
  text-decoration: none;
  color: #333;
}